{{ define "ChatServiceApiEndpoint" }}

{{ $settings := . }}
{{ $host := $settings.chat_service }}
{{ $sd_dns := $settings.chat_service_dns }}

{
  "endpoint": "/api/v1/chat/{group_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/chat/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/chat/check/{group_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/chat/check/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/chat/download/{group_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/chat/download/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/chat/information/user",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/chat/information/user",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/chat/react/:group_id/{message_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/chat/react/:group_id/{message_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/{group_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/count/keywod",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/count/keywod",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/generate/qrcode",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/generate/qrcode",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/{group_id}",
  "input_query_strings":["*"],
  "method": "PUT",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "PUT",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/{group_id}",
  "input_query_strings":["*"],
  "method": "DELETE",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "DELETE",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/user",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/user",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/join_group/by_qrcode",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/join_group/by_qrcode",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/user",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/user",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/group/user/{group_id}",
  "input_query_strings":["*"],
  "method": "DELETE",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/group/user/{group_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "DELETE",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/emergency",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/emergency",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/emergency",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/emergency",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
}

{{end}}