{{ define "endpoint" }}

{{$settings := .}}

{{ template "GoMainServiceApiEndpoint" $settings }},
{{ template "InventoryServiceApiEndpoint" $settings }},
{{ template "ProductServiceApiEndpoint" $settings }},
{{ template "CartServiceApiEndpoint" $settings }},
{{ template "OrderServiceApiEndpoint" $settings }},
{{ template "PortalServiceApiEndpoint" $settings }},
{{ template "ChatServiceApiEndpoint" $settings }},
{{ template "HolidayServiceApiEndpoint" $settings }},
{{ template "TermServiceApiEndpoint" $settings }},
{{ template "WalletServiceApiEndpoint" $settings }},
{{ template "GalleryServiceApiEndpoint" $settings }},
{{ template "ClassroomServiceApiEndpoint" $settings }},
{{ template "TopicServiceApiEndpoint" $settings }},
{{ template "EventServiceApiEndpoint" $settings }},
{{ template "TodoServiceApiEndpoint" $settings }},
{{ template "ColorTimeServiceApiEndpoint" $settings }},
{{ template "ReportServiceApiEndpoint" $settings}}

{{end}}