{{ define "endpoint" }}

{{$settings := .}}

{{ template "GoMainSerivecApiEndpoint" $settings }},
{{ template "InventorySerivecApiEndpoint" $settings }},
{{ template "ProductSerivecApiEndpoint" $settings }},
{{ template "CartSerivecApiEndpoint" $settings }},
{{ template "OrderSerivecApiEndpoint" $settings }}

{{end}}