{{ define "InventoryServiceApiEndpoint" }}

{{ $settings := . }}
{{ $host := $settings.inventory_service }}
{{ $sd_dns := $settings.inventory_service_dns }}

{
  "endpoint": "/api/v1/storage",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/storage",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/storage",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/storage",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/storage/{id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/storage/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/location",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/location",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/location",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/location",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/location/{id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/location/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/location/{id}",
  "input_query_strings":["*"],
  "method": "PUT",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/location/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "PUT",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/location/{id}",
  "input_query_strings":["*"],
  "method": "DELETE",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/location/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "DELETE",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/location/add-product/{id}",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/location/add-product/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
}
{{end}}