{{ define "MediaServiceApiEndpoint" }}

{{ $settings := . }}
{{ $host := $settings.media_service }}
{{ $sd_dns := $settings.media_service_dns }}

{
  "endpoint": "/api/v2/admin/topics",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/admin/topics",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/admin/topics",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/admin/topics",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/admin/topics/{topic_id}/progress",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/admin/topics/{topic_id}/progress",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/admin/topics/student/{student_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/admin/topics/student/{student_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/admin/topics/{topic_id}",
  "input_query_strings":["*"],
  "method": "PUT",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/admin/topics/{topic_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "PUT",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/admin/topics/assign",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/admin/topics/assign",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/user/topics/student/{student_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/user/topics/student/{student_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v2/gateway/topics/{topic_id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v2/gateway/topics/{topic_id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/pdf/student",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v1/pdf/student",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/pdf/student",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v1/pdf/student",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/pdf/{id}",
  "input_query_strings":["*"],
  "method": "DELETE",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v1/pdf/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "DELETE",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/pdf/{id}",
  "input_query_strings":["*"],
  "method": "PUT",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type", "X-App-Language"],
  "backend": [
    {
      "url_pattern": "/api/v1/pdf/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "PUT",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
}



{{end}}