{{ define "ProductSerivecApiEndpoint" }}

{{ $settings := . }}
{{ $host := $settings.product_service }}
{{ $sd_dns := $settings.product_service_dns }}

{
  "endpoint": "/api/v1/products/",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/products/",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/products/{id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/products/{id}",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/products/search",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/products/search",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/products/",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/products/",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/products/{id}",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/products/{id}",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/products/{id}/dispose",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/products/{id}/dispose",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/categories/",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/categories/",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/categories/{id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/categories/{id}",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/categories/search",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/categories/search",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/categories/",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/categories/",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/categories/{id}",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/categories/{id}",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/topics/",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/topics/",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/topics/{id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/topics/{id}",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/topics/search",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/topics/search",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/topics/",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/topics/",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/topics/{id}",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/topics/{id}",
      "output_encoding": "no-op",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
}

{{end}}