{{ define "TodoServiceApiEndpoint" }}

{{ $settings := . }}
{{ $host := $settings.todo_service }}
{{ $sd_dns := $settings.todo_service_dns }}

{
  "endpoint": "/api/v1/todos",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos/{id}",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos/{id}",
  "input_query_strings":["*"],
  "method": "PUT",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "PUT",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos/{id}",
  "input_query_strings":["*"],
  "method": "DELETE",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos/{id}",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "DELETE",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos/join",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos/join",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos/add-user",
  "input_query_strings":["*"],
  "method": "POST",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos/add-user",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "POST",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/v1/todos/my-todo",
  "input_query_strings":["*"],
  "method": "GET",
  "extra_config": {},
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Content-Type"],
  "backend": [
    {
      "url_pattern": "/api/v1/todos/my-todo",
      "extra_config": {
        "qos/circuit-breaker": {
          "interval": 60,
          "timeout": 10,
          "max_errors": 5,
          "log_status_change": true
        }
      },
      "method": "GET",
      {{ if $sd_dns }}
      "sd": "dns",
      "host": ["{{ $sd_dns }}"],
      {{ else }}
      "host": ["{{ $host }}"],
      {{ end }}
      "disable_host_sanitize": true
    }
  ]
}
{{end}}